# ------- 核心框架 -------
Flask~=3.1.0
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.23
flask-cors~=6.0.1
flask-admin~=2.0.2
flask-login==0.6.3

# ------- 数据处理 -------
pandas==2.1.4
numpy==1.26.0          # 冲突解决版本
Pillow==10.0.0

# ------- 其他工具 -------
requests==2.32.2       # 冲突解决版本
pyyaml==6.0.1
python-dotenv==1.0.0
app~=0.0.1

psycopg2-binary